*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
nav{
    background-color: black;
    color:white;
    height: 75px;
    font-size: 40px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav ul{
    list-style-type:none;
}
.gamecontainer{
    /* background-color: rgb(247, 198, 189); */
    display:flex;
    justify-content: center;
    margin-top:50px;
}
.container{
    display:grid;
    grid-template-rows:repeat(3,10vw);
    grid-template-columns: repeat(3,10vw);
    position:relative;
}
.box{
    border:2px solid black;
    font-size:9vw;
    cursor: pointer;
    display:flex;
    justify-content: center;
    align-items:center;
}
.box:hover{
    background-color:rgb(243, 234, 223);
} 
.gameinfo{
    padding:0 50px;
}
.imgbox img{
    width:0px;
    transition:width 1s ease-in-out;
}
.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}
.info h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.sameline{
    display: flex;
}
#reset{
    margin:0 30px;
    padding:4px 20px;
    border: 2px solid black;
    border-radius:12px;
    color:black;
    background-color: rgb(242, 207, 213);
    cursor: pointer;
    font-weight: bolder;

}
.line{
    background-color: black;
    height:3px;
    width:0px;
    position:absolute;
    transition: width 1s ease-in-out;
}
@media screen and (max-width:800px){
    .gamecontainer{
        flex-wrap:wrap;
    }
    .gameinfo{
        margin-top:34px;
    }
    .gameinfo h1{
        font-size:1.5rem;
    }
    .container{
        grid-template-rows: repeat(3,20vw);
        grid-template-columns: repeat(3,20vw);
    }
}